.account {
    width: 100vw;
    height: 100vh;
    background-color: #282828;
    display: block;
}
.form-wrap
{
    width: 285px;
    margin: auto;
    padding-top: 300px;
    color: #fff;
    display: table;
    
    label {
        display: block;
        font-size: 14px;
        color: #fff;
    }

   
}
 a-form-item{
        display: inline;
    }